@import url('https://fonts.cdnfonts.com/css/cocogoose');

* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  color: #272a31;
}

body {
  background-color: #efebeb;
}

.over-nav {
  display: none;
}

.close-btn {
  display: none;
}

.close-btn.show {
  display: block;
  position: absolute;
  font-size: 2.5rem;
  color: white;
  left: 86%;
  right: 0;
  top: 2%;
}

.click-event {
  display: none;
}

.click-event.active {
  display: block;
  position: absolute;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(9, 30, 195, 0.65);
  backdrop-filter: blur(6px);
}

.nav2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 54px;
  margin-left: 10px;
  list-style-type: none;
}

.menu-item {
  font-weight: 700;
  font-size: 25px;
  line-height: 44px;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 10px 12px;
}

.home {
  margin: 20px;
  background-color: #efebeb;
}

.openning {
  color: #ec5242;
  font-size: 25px;
  margin-bottom: 15px;
}

.title {
  color: #ec5242;
  font-size: 34px;
  margin-bottom: 30px;
  font-weight: 900;
}

.multicolor-text {
  background-image: linear-gradient(to bottom, #8d1508 40%, white 5%, red 45%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: 'COCOGOOSE', sans-serif;
}

.desc-cont {
  border: 4px solid white;
}

.description {
  line-height: 1.5;
  font-size: 14px;
  padding: 20px;
  text-align: justify;
}

.date {
  color: #272a31;
  font-size: 25px;
  font-weight: 900;
  margin: 10px;
}

.main-prog {
  margin-top: 80px;
  background-color: #272a31;
  padding-bottom: 1px;
}

.main-prog-title {
  color: white;
  font-size: 25px;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 5px;
}

.line {
  width: 35px;
  height: 2px;
  background-color: #ec5242;
  margin-left: 45%;
  margin-bottom: 40px;
}

.cont-flex-cont {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  gap: 10px;
}

.cont-flex {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 80px;
  background-color: rgba(99, 104, 111, 80%);
  padding: 10px;
}

.prog-img {
  margin-left: 15px;
  width: 30px;
}

.prog-title {
  color: #ec5242;
  font-size: 15px;
  font-weight: 900;
  flex: 1;
}

.prog-desc {
  color: white;
  flex: 2;
  line-height: 1.5;
  font-size: 13px;
}

.prog-btn-cont {
  background-color: #ec5242;
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.prog-btn {
  color: white;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
}

.see-all {
  display: none;
}

.moti-speakers {
  margin-top: 30px;
  margin-left: 20px;
}

.speakers {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.moti-spe-title {
  text-align: center;
  margin-bottom: 15px;
}

.speaker {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.image-cont {
  position: relative;
}

.bg-img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -15px;
  left: -10px;
  margin-left: 10px;
}

.speaker-img {
  max-width: 100px;
  max-height: 100px;
  margin-left: 10px;
  position: relative;
  z-index: 99;
}

.speaker-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name {
  font-size: 16px;
  font-weight: 700;
}

.status {
  font-size: 12px;
  color: #ec5242;
  font-style: italic;
  font-weight: 700;
}

.line-status {
  width: 35px;
  height: 1px;
  background-color: black;
}

.speaker-desc {
  font-size: 11px;
}

.more {
  padding: 15px;
  border: 1px solid #262626;
  border-radius: 4px;
  margin-right: 20px;
}

.more span {
  margin-left: 6px;
}

.partners {
  color: white;
  margin-bottom: 10px;
  text-align: center;
}

.line-part {
  width: 8%;
  height: 1px;
  background-color: #ec5242;
  margin-bottom: 30px;
  margin-left: 46%;
}

.partners-logo {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}

.partners-logo img {
  height: 80px;
}

.rights {
  background-color: white;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.logo-cont {
  display: flex;
}

.prog-logo {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.prog-name {
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  width: 50px;
}

.last-para p {
  font-size: 10px;
}

.partners-cont {
  display: none;
}

.foot {
  display: none;
}

@media (min-width: 768px) {
  .over-nav {
    display: block;
  }

  .first-nav {
    background-color: rgba(12, 11, 11, 0.525);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 100px;
    height: 30px;
  }

  .nav1 {
    width: 31%;
    display: flex;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
    color: white;
  }

  ul {
    list-style-type: none;
  }

  .fb {
    width: 30px;
    height: 20px;
  }

  .twiter {
    width: 25px;
  }

  .nav1-item {
    font-size: 13px;
  }

  .menu-link {
    display: none;
  }

  .click-event {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: white;
  }

  .logo-img {
    height: 60px;
    width: 60px;
    border-radius: 30px;
  }

  .nav2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    gap: 0;
  }

  .menu-item {
    font-size: 14px;
    color: black;
    margin-right: 30px;
    padding: 0;
    line-height: 0;
  }

  .menu-item.text-red {
    color: red;
  }

  #campaign {
    border: 3px solid red;
    padding: 10px;
    color: red;
  }

  .home {
    width: 60%;
    margin: 6rem 9rem;
  }

  .openning {
    font-size: 35px;
  }

  .title {
    font-size: 47px;
  }

  .desc-cont {
    margin-bottom: 30px;
  }

  .date {
    margin-left: 0;
    font-size: 35px;
  }

  .place {
    font-size: 20px;
  }

  .cont-flex-cont {
    flex-direction: row;
    justify-content: center;
    gap: 3px;
  }

  .cont-flex {
    flex-direction: column;
    gap: 10px;
    width: 20%;
    text-align: center;
    height: 200px;
  }

  .cont-flex:hover {
    border: 2px solid white;
  }

  .main-prog-title {
    margin-bottom: 10px;
  }

  .line {
    width: 40px;
    margin-left: 47%;
  }

  .prog-btn-cont {
    display: none;
  }

  .prog-img {
    margin: 0;
  }

  .prog-title {
    flex: 0;
    font-size: 18px;
  }

  .see-all {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px;
  }

  .see-all-link {
    text-decoration: underline;
  }

  .speakers {
    flex-direction: row;
    width: 90%;
    flex-wrap: wrap;
    margin: 10px auto;
  }

  .speaker {
    width: 47%;
  }

  .speaker-img {
    max-width: 120px;
    max-height: 120px;
  }

  .speaker-info {
    width: 50%;
  }

  .name {
    font-size: 20px;
  }

  .speaker-desc {
    font-size: 13px;
  }

  .more {
    display: none;
  }

  .partners-cont {
    background-color: #272a31;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 280px;
    justify-content: center;
    margin-top: 70px;
  }

  .partners {
    font-size: 22px;
  }

  .partners-logo img {
    height: 120px;
  }

  .line-part {
    width: 35px;
    margin-left: 0;
  }

  .foot {
    display: block;
  }

  .rights {
    height: 190px;
  }

  .prog-logo {
    width: 80px;
    height: 80px;
    border-radius: 40px;
  }

  .prog-name {
    font-size: 20px;
  }

  .last-para p {
    font-size: 16px;
  }
}
